@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fd;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px 10px;
  margin: 0;
}

.container {
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.header {
  background-color: #3e57db;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.header input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.header input:focus {
  outline: none;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
}

.user-list li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.user-list img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #555;
}

.user-list li.hide {
  display: none;
}


