@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: #9cd4fa;
  --secondary-color: #5da7e1;
  --light-color: #eef7fc;
  --dark-color: #171830;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(315deg, var(--main-color) 0%, var(--light-color) 100%);
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 100px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.filter-container {
  margin: 20px 0;
  width: 80vw;
  max-width: 800px;
}

.filter {
  width: 100%;
  padding: 12px;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
}

.filter:focus {
  outline: none;
}

#posts-container {
  position: relative;
  width: 80vw;
  max-width: 800px;
  min-height: 400px;
}

.post {
  position: absolute; /* Key for virtual scroll */
  width: 100%;
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 1rem;
  padding: 20px;
  display: flex;
  transition: transform 0.2s;
}

.post .post-title {
  margin: 0;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.3;
}

.post .number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background-color: var(--light-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

